<div class="f3 w-50 center">

<h1>Edit Apikey</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.apikey_path(@conn, :update, @apikey)) %>

<br />
<span><%= link "< Back", to: Routes.apikey_path(@conn, :index),
class: "pointer br2 ba b--orange bg-gold white pa3 ml1 mv1 f4
shadow-hover bg-animate hover-bg-orange border-box no-underline"
 %></span>

</div>
