<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Authentication Example</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">


    <p class="w-90 ba br2 pa3 ma2 green bg-washed-green" role="alert">
      <%= get_flash(@conn, :info) %>
      <!-- temporary holding text while matching the bootstrap styles -->
      <strong>Well done!</strong> You successfully read this important alert message.
    </p>
    <p class="w-90 ba br2 pa3 ma2 red bg-washed-red" role="alert">
      <%= get_flash(@conn, :error) %>
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </p>


    <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <a href="https://github.com/dwyl/auth">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
      alt="Fork me on GitHub"
    </a>

  </body>
</html>
