<div class="f3 w-60 center">
<h1 class="tc">Edit Role</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.role_path(@conn, :update, @role)) %>

<span><%= link "< Cancel Edit", to: Routes.role_path(@conn, :index), 
  class: "fl pointer br2 ba b--orange bg-gold white pv2 ph3 f4 mt1
  shadow-hover bg-animate hover-bg-orange border-box no-underline" %></span>
<div>