/* This file is for your main application css. */

/* @import "./phoenix.css"; */

.dwyl-bg-mint {
  background-color: #339999;
}
.hover-dwyl-teal-darkest:hover,  .hover-dwyl-teal-darkest:focus {
  background-color: #318d7b;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert:empty {
  display: none;
}
