<h1 class="tc">Status</h1>

<table class="w-80 mw5 mw7-ns center">
  <thead>
    <tr class="bb b--silver">
      <th class="tl pv3 f3">Environment Variable</th>
      <th class="tl pv3 f3">Defined?</th>
    </tr>
  </thead>
  <tbody>
    
<%= for {key, value} <- @env do %>
  <tr class="bb b--moon-gray">
    <td class=""><pre class="mono"><%= key %></pre></td>
    <td class="center pl4"><img width="40px" src="/images/<%=value%>.png"></td>
  </tr>
<% end %>
  </tbody>
</table>

