<h1>Edit Permission</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.permission_path(@conn, :update, @permission)) %>

<span><%= link "Back", to: Routes.permission_path(@conn, :index) %></span>
